*.[oa]
.*.d
*~
*.ld
*.elf
*.bin
*.hex
*.orig
*.rej
*.swp
/FF_OSD*

# CMake build artifacts
build_*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Additional VS Code files (optional)
# .vscode/settings.json
